<article class="type-system-slab centered-transparent-container">
    <a class="lovely-link-button" href="javascript:void(0);" onclick="compileTBFromModal();">GenerateTB</a>
</article>

<br><br>

<div class="grid-items-lines">
	<% @ledger_details.each do |ledger| %>
		 <a href="javascript:void(0);" class="grid-item tb-select" data-ledger-id="<%= ledger.id %>">
		 	<article class="type-system-slab">
                <h1><span style="color:#F9B233">
                	<%#= ledger.transactions.count %>
                  </span>
                </h1>
                <p style="font-size:90%;">
                	<%= ledger.title || "No-title-given" %>
                </p>
                <h3 style="font-size:80%;"> <%= ledger.user_tag %>  </h3>
            </article>
         </a>
	<% end %>
</div>

<script>
	//LISTENTER TO ADD SELECTED CLASS FOR INCLUDING IN TB COMPILE
	$('.tb-select').on('click', function() {
		if ( $(this).hasClass('tb-include') ) {
			$(this).removeClass('tb-include');
		} else {
			$(this).addClass('tb-include');
		};
	})
</script>