
<article class="type-system-slab">
    <header class="show-nav" role="banner">
       <div>  
          <p><%= link_to 'Back', url_for(:back) %></p>
       </div> 
       <div>  
          <a href="/welcome/auth_dash"><img id="user-to-auth-landing" src="<%= asset_path('pb-logo.png') %>"></a>
       </div>  
       <div>  
          <p><a href="//www.profitbees.com" target="_blank">ProfitBees</a></p>
       </div> 
    </header>
</article>

<section class="layout-container">
  <article class="type-system-slab centered-transparent-container">
      <a class="lovely-link-button" href="<%= import_trns_ledger_path(@ledger) %>" data-remote="true">Import CSV</a>
  </article>
  <br><br><br>
</section>

<section class="layout-container">
      <article class="type-system-slab">
            <div class="nice-in-box-element">

                 <br><br>
                 <h3> More useful tasks </h3>
                 <br><br>

                 <div class="cards">
                      <div class="card">
                        <div class="card-image">
                          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
                        </div>
                        <div class="card-header">
                          Reconcile bank transactions
                        </div>
                        <div class="card-copy">
                          <p>Tag your bank ins and outs and input your vat/tax.</p>
                        </div>
                      </div>

                      <div class="card">
                        <div class="card-image">
                          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-4.png" alt="">
                        </div>
                        <div class="card-header">
                          Run a VAT or tax return
                        </div>
                        <div class="card-copy">
                          <p>Generate a summmary of VAT/tax paid and owed for this cash hive</p>
                        </div>
                      </div>

                      <div class="card">
                        <div class="card-image">
                          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-3.png" alt="">
                        </div>
                        <div class="card-header">
                          Generate a Trial Balance
                        </div>
                        <div class="card-copy">
                          <p>Generate a General Ledger and summaries transactional trial balance for your accountant.</p>
                        </div>
                      </div>
                  </div>
                  <!-- END OF CARDS -->
             </div>
             <!-- END OF NICE BOX ELEMENT -->
      </article>
</section>


